---
- name: Check to see if pip is already installed.
  command: "pip --version"
  ignore_errors: true
  changed_when: false # read-only task
  check_mode: no
  register: pip_is_installed

- name: Download pip.
  get_url: url=https://bootstrap.pypa.io/get-pip.py dest=/tmp
  when: pip_is_installed.rc != 0 and (ansible_distribution == 'RedHat' or ansible_distribution == 'CentOS' or ansible_distribution == 'Amazon')

- name: Install pip
  command: "python /tmp/get-pip.py"
  become: yes
  when: pip_is_installed.rc != 0 and (ansible_distribution == 'RedHat' or ansible_distribution == 'CentOS' or ansible_distribution == 'Amazon')

- name: Delete get-pip.py.
  file: state=absent path=/tmp/get-pip.py
  when: pip_is_installed.rc != 0 and (ansible_distribution == 'RedHat' or ansible_distribution == 'CentOS' or ansible_distribution == 'Amazon')

## Ubuntu
- name: 'Install Python PIP'
  apt:
    pkg: python-pip
    state: latest
  when: pip_is_installed.rc != 0 and (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
